{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "Apigee Management API",
        "license": {
            "name": "MIT"
        }
    },
    "host": "api.enterprise.apigee.com",
    "basePath": "/v1",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "basicAuth": {
            "type": "basic",
            "description": "HTTP Basic Authentication."
        }
    },
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/organizations/{org_name}/oauth2/revoke": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "tags": [
                    "OAuth 2.0 Access Token"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    ""
                ],
                "produces": [
                    ""
                ],
                "summary": "Revoke OAuth2 Access Token by End User or App ID",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">\n\nRevokes an OAuth2 access tokens associated with an App End User ID or Developer App ID, or both. \n\n<div class=\"paid\">\n\nThis API call is available for Apigee Edge Enterprise plans only. This feature must be enabled, as described in [Enable retrieval and revocation of OAuth 2.0 access tokens by end user ID, app id, or both](/api-reference/content/enable-retrieval-and-revocation-oauth-20-access-tokens-end-user-id-app-id-or-both).\n\n</div>\n\n<div class=\"note\">\n\nThis API requires the **orgadmin** or **opsadmin** role.\n\n</div>\n\n<div class=\"note\">\n\nIf you use this API to revoke an access token, the associated refresh token will be revoked also. \n\n</div>\n\n### Revoke by Developer App ID\n\nNote that all OAuth2 access tokens generated by Edge include the ID of the developer app associated with the token, and you can always revoke tokens based on that ID using this API. To get a list of Developer App IDs for a specific developer, you can use this API: [List Developer Apps](/management/apis/get/organizations/%7Borg_name%7D/developers/%7Bdeveloper_email_or_id%7D/apps). To find tokens based on Developer App ID, see [Get OAuth2 Access Token by End User or App ID](/management/apis/get/organizations/%7Borg_name%7D/oauth2/search). \n\n### Revoke by App End User ID\n\nIn some cases, you may wish to revoke tokens associated with the ID of the user to whom they were issued (the actual user of the client app). This ID has to be present in the token. Adding an End User ID to an access token requires some preliminary setup in the OAuthV2 policy that generates the token. For details, see [Enable retrieval and revocation of OAuth 2.0 access tokens by end user ID, app id, or both](/api-reference/content/enable-retrieval-and-revocation-oauth-20-access-tokens-end-user-id-app-id-or-both). You can use another API to search for tokens based on End User ID. See [Get OAuth2 Access Token by End User or App ID](/management/apis/get/organizations/%7Borg_name%7D/oauth2/search).   \n\nFor example, you may wish to provide a way for users to revoke their own access tokens. \n\n</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/oauth2/accesstokens/{access_token}": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "access_token",
                    "in": "path",
                    "description": "access_token",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "tags": [
                    "OAuth 2.0 Access Token"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/octet-stream"
                ],
                "produces": [
                    "application/octet-stream"
                ],
                "summary": "Approve or Revoke OAuth 2.0 Access Token",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">Approves or revokes an OAuth 2.0 access token.</div>",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Set action to `approve` or `revoke`.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "get": {
                "tags": [
                    "OAuth 2.0 Access Token"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Get OAuth 2.0 Access Token",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">Gets details of a specific OAuth 2.0 access token.</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "OAuth 2.0 Access Token"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    ""
                ],
                "produces": [
                    ""
                ],
                "summary": "Delete OAuth 2.0 Access Token",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">Deletes a specific OAuth 2.0 access token.</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/apiproducts/{apiproduct_name}/attributes": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "apiproduct_name",
                    "in": "path",
                    "description": "apiproduct_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "tags": [
                    "API Product"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Updates all API Product Attributes",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">\n\nUpdates or creates API product attributes.\n\nThis API replaces the current list of attributes with the attributes specified in the request body. This lets you update existing attributes, add new attributes, or delete existing attributes by omitting them from the request body.\n\n<div class=\"microservices\">\n\n**CPS**: With [Core Persistence Services](/api-services/content/api-reference-getting-started#cps), the custom attribute limit is 18.\n\n</div>\n\n</div>",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Specify Content Type as `application/json` or `text/xml`.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "get": {
                "tags": [
                    "API Product"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Gets all API Product Attributes",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">Returns a list of all API product attributes.</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/apiproducts": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "tags": [
                    "API Product"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "List API Products",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">Get a list of all API product names for an organization.</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "post": {
                "tags": [
                    "API Product"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Create API Product",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">\n\nCreates an API product in an organization.  \n\nYou create API products after you have proxied backend services using API proxies.  \n\nAn API product is a collection of API resources combined with quota settings and metadata that you can use to deliver customized and productized API bundles to your developer community. This metadata may include scope, environments, API proxies, and an extensible profile.  \n\nAPI products enable you repackage APIs on-the-fly, without having to do any additional coding or configuration.  \n\nWe recommend that you start with a simple API product including only required elements. You then provision credentials to apps to enable them to start testing your APIs.  \n\nOnce you have authentication and authorization working against a simple API product, you can iterate to create finer-grained API products, defining different sets of API resources for each API product.\n\n<div class=\"warning\">\n\nIf you don't specify an API proxy in the request body, any app associated with the product can make calls to any API in your entire organization.  \nIf you don't specify an environment in the request body, the product allows access to all environments.\n\n</div>\n\nFor information about the request attributes that you can specify with this API, see [Creating API products](/developer-services/content/creating-api-products).\n\nSee also [What is an API product?](/developer-services/content/what-api-product)\n\n<div class=\"microservices\">\n\n**CPS**: With [Core Persistence Services](/api-services/content/api-reference-getting-started#cps), the custom attribute limit is 18.\n\n</div>\n\n</div>",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Specify the content type as `<span class=\"pln\" data-original-title=\"\" title=\"\">application</span><span class=\"pun\" data-original-title=\"\" title=\"\">/</span><span class=\"pln\" data-original-title=\"\" title=\"\">json</span>` or `<span class=\"pln\" data-original-title=\"\" title=\"\">text</span><span class=\"pun\" data-original-title=\"\" title=\"\">/</span><span class=\"pln\" data-original-title=\"\" title=\"\">xml</span>`.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "RequestBody",
                        "in": "body",
                        "description": "RequestBody description",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [],
                            "properties": {
                                "name": {
                                    "description": "The internal name of the API Product. Characters you can use in the name are restricted to: `<span class=\"pln\" data-original-title=\"\" title=\"\">A</span><span class=\"pun\" data-original-title=\"\" title=\"\">-</span><span class=\"pln\" data-original-title=\"\" title=\"\">Z0</span><span class=\"pun\" data-original-title=\"\" title=\"\">-</span><span class=\"lit\" data-original-title=\"\" title=\"\">9.</span><span class=\"pln\" data-original-title=\"\" title=\"\">_\\-$</span> <span class=\"pun\" data-original-title=\"\" title=\"\">%</span>`.",
                                    "type": "string"
                                },
                                "displayName": {
                                    "description": "The name to be displayed in the UI or developer portal to developers registering for API access",
                                    "type": "string"
                                },
                                "approvalType": {
                                    "description": "`<span class=\"pln\" data-original-title=\"\" title=\"\">manual</span>` or `<span class=\"kwd\" data-original-title=\"\" title=\"\">auto</span>`. If `<span class=\"pln\" data-original-title=\"\" title=\"\">manual</span>`, consumer key is generated and returned in 'pending' state. If `<span class=\"kwd\" data-original-title=\"\" title=\"\">auto</span>` consumer key generated and returned in 'Approved' state.",
                                    "type": "string"
                                },
                                "attributes": {
                                    "description": "Arbitrary name/value pairs. Use this property to specify the access level of the API product as either `<span class=\"kwd\" data-original-title=\"\" title=\"\">public</span>`, `<span class=\"kwd\" data-original-title=\"\" title=\"\">private</span>`, or `<span class=\"kwd\" data-original-title=\"\" title=\"\">internal</span>`. Only products marked `<span class=\"kwd\" data-original-title=\"\" title=\"\">public</span>` are available to developers in the Apigee developer portal. For example, you can set a product to `<span class=\"kwd\" data-original-title=\"\" title=\"\">internal</span>` while it's in development and then change access to `<span class=\"kwd\" data-original-title=\"\" title=\"\">public</span>` when it's ready to release on the portal. API products marked as `<span class=\"kwd\" data-original-title=\"\" title=\"\">private</span>` do not appear on the portal but can be accessed by external developers. For example:  \n\n<pre class=\"prettyprint prettyprinted\"> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"attributes\"</span><span class=\"pun\" data-original-title=\"\" title=\"\">:</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"pun\" data-original-title=\"\" title=\"\">[</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"pun\" data-original-title=\"\" title=\"\">{</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"name\"</span><span class=\"pun\" data-original-title=\"\" title=\"\">:</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"access\"</span><span class=\"pun\" data-original-title=\"\" title=\"\">,</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"value\"</span><span class=\"pun\" data-original-title=\"\" title=\"\">:</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"public\"</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"pun\" data-original-title=\"\" title=\"\">}</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"pun\" data-original-title=\"\" title=\"\">]</span></pre>\n\nFor monetization, you can use the attributes field to [specify transaction success criteria](/docs/monetization/content/create-transaction-recording-policy#createtrpapi). For example:  \n\n<pre class=\"prettyprint prettyprinted\"> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"attributes\"</span><span class=\"pun\" data-original-title=\"\" title=\"\">:</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"pun\" data-original-title=\"\" title=\"\">[</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"pun\" data-original-title=\"\" title=\"\">{</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"name\"</span><span class=\"pun\" data-original-title=\"\" title=\"\">:</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"MINT_TRANSACTION_SUCCESS_CRITERIA\"</span><span class=\"pun\" data-original-title=\"\" title=\"\">,</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"value\"</span><span class=\"pun\" data-original-title=\"\" title=\"\">:</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"txProviderStatus == 'OK'\"</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"pun\" data-original-title=\"\" title=\"\">}</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"pun\" data-original-title=\"\" title=\"\">]</span></pre>\n\nIn addition, for monetization you can use the attributes field to [specify custom attributes](/docs/monetization/content/create-transaction-recording-policy#spectrpcaapi) on which you base rate plan charges. For example:  \n\n<pre class=\"prettyprint prettyprinted\"> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"attributes\"</span><span class=\"pun\" data-original-title=\"\" title=\"\">:</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"pun\" data-original-title=\"\" title=\"\">[</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"pun\" data-original-title=\"\" title=\"\">{</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"name\"</span><span class=\"pun\" data-original-title=\"\" title=\"\">:</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"MINT_CUSTOM_ATTRIBUTE_1\"</span><span class=\"pun\" data-original-title=\"\" title=\"\">,</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"value\"</span><span class=\"pun\" data-original-title=\"\" title=\"\">:</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"test1\"</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"pun\" data-original-title=\"\" title=\"\">}</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"pun\" data-original-title=\"\" title=\"\">]</span></pre>",
                                    "type": "string"
                                },
                                "description": {
                                    "description": "An overview of the API product. Include key information about the API product that is not captured by other fields.",
                                    "type": "string"
                                },
                                "apiResources": {
                                    "description": "A comma separated list of API resources to be bundled in the API Product. See [Creating API products](/docs/developer-services/content/creating-api-products) for more on setting this value.  \n\nFor information about setting this value when creating a transaction recording policy for monetization, see [Creating a transaction recording policy using the API](/docs/monetization/content/create-transaction-recording-policy#spectrpcaapi).",
                                    "type": "string"
                                },
                                "environments": {
                                    "description": "A comma-separated list of environment name in an organization. Requests to environments not listed are rejected.",
                                    "type": "string"
                                },
                                "proxies": {
                                    "description": "A comma-separated list of API proxy names in an organization. Requests to API proxies not listed are rejected. Api proxy names included here must already exist in the environment specified in the environment property because API Services validates proxy names when you create an API product.",
                                    "type": "string"
                                },
                                "quota": {
                                    "description": "The number of request messages permitted by this API product for the specified quotaInterval and quotaTimeUnit. For example, a quota of 50, for a quotaInterval of 12 and a quotaTimeUnit of hours means 50 requests are allowed every 12 hours.",
                                    "type": "string"
                                },
                                "quotaInterval": {
                                    "description": "The time interval over which the number of request messages is calculated.",
                                    "type": "string"
                                },
                                "quotaTimeUnit": {
                                    "description": "The time unit defined for the quotaInterval, as either: minute, hour, day, month.",
                                    "type": "string"
                                },
                                "scopes": {
                                    "description": "A comma separated list of scopes. These must map to the scopes defined in an Oauth policy associated with the API Product. Any scope mismatch between an Acces Token presented and the API Product results in auth failure.",
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/maskconfigs": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "tags": [
                    "Data Mask"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Create Data Masks for an Organization",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">Create a data masks for an organization.  \n\nYou can capture message content to assist in runtime debugging of APIs calls. In many cases, API traffic contains sensitive data, such credit cards or personally identifiable health information (PHI) that needs to filtered out of the captured message content.  \n\nData masks enable you to specify data that will be filtered out of trace sessions. Data masking is only enabled when a trace session (also called a 'debug' session) is enabled for an API proxy. If no trace session are enabled on an API proxy, then the data will not be masked.  \n\nMask configurations enable you to identify sensitive data in these sources:\n\n*   **XML payloads:** Using XPath, you identify XML elements to be filtered from request or response message payloads.\n*   **JSON payloads:** Using JSONPath, you identify JSON properties to be filtered from request or response message payloads.\n*   **Flow variables:** You can specify a list of variables that should be masked in debug output.\n\nThe basic structure of a mask configuration is shown by the following XML representation:  \n\nNote that the name of the mask must be \"default\".  \n\n<pre><MaskDataConfiguration name=\"default\">\n  <XPathsRequest>\n\t<XPathRequest>/apigee:Greeting/apigee:User</XPathRequest>\n  </XPathsRequest>\n  <XPathsResponse>\n    <XPathResponse>/apigee:Greeting/apigee:User</XPathResponse>\n  </XPathsResponse>\n  <JSONPathsRequest>\n    <JSONPathRequest>$.store.book[*].author</JSONPathRequest>\n  </JSONPathsRequest>\n  <JSONPathsResponse>\n\t<JSONPathResponse>$.store.book[*].author</JSONPathResponse>\n  </JSONPathsResponse>\n  <XPathsFault>\n\t<XPathFault>/apigee:Greeting/apigee:User</XPathFault>\n  </XPathsFault>\n  <JSONPathsFault>\n\t<JSONPathFault>$.store.book[*].author</JSONPathFault>\n  </JSONPathsFault>\n  <Variables>\n\t<Variable>request.header.user-agent</Variable>\n    <Variable>request.formparam.password</Variable>\n  </Variables>\n</MaskDataConfiguration></pre>\n\n</div>",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Specify the Content-Type as `application/json` or `text/xml`.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "RequestBody",
                        "in": "body",
                        "description": "RequestBody description",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [],
                            "properties": {
                                "XPathsRequest": {
                                    "description": "A list of XPath expressions that will be evaluated against XML payloads (if any) in the request path. Any XPaths that successfully resolve will result in the value of the XML element being masked.",
                                    "type": "string"
                                },
                                "XPathsResponse": {
                                    "description": "A list of XPath expressions that will be evaluated against XML payloads (if any) in the response path. Any XPaths that successfully resolve will result in the value of the XML element being masked.",
                                    "type": "string"
                                },
                                "JSONPathsRequest": {
                                    "description": "A list of JSONPath expressions that will be evaluated against JSON payloads (if any) in the request path. Any JSONPaths that successfully resolve will result in the value of the JSON property being masked.",
                                    "type": "string"
                                },
                                "JSONPathsResponse": {
                                    "description": "A list of JSONPath expressions that will be evaluated against JSON payloads (if any) in the response path. Any JSONPaths that successfully resolve will result in the value of the JSON property being masked.",
                                    "type": "string"
                                },
                                "XPathsFault": {
                                    "description": "A list of XPath expressions that will be evaluated against XML payloads (if any) in the error flow (which executes if a fault is thrown at any point in the flow). Any XPaths that successfully resolve will result in the value of the XML element being masked.",
                                    "type": "string"
                                },
                                "JSONPathsFault": {
                                    "description": "A list of JSON expressions that will be evaluated against XML payloads (if any) in the error flow (which executes if a fault is thrown at any point in the flow). Any JSONPaths that successfully resolve will result in the value of the XML element being masked.",
                                    "type": "string"
                                },
                                "Variables": {
                                    "description": "A list of variables (either pre-defined or custom) who values will be masked.",
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "get": {
                "tags": [
                    "Data Mask"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "List Data Masks for an Organization",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">List all data masks for an organization.</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/apiproducts/{apiproduct_name}/attributes/{attribute_name}": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "apiproduct_name",
                    "in": "path",
                    "description": "apiproduct_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "attribute_name",
                    "in": "path",
                    "description": "attribute_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "tags": [
                    "API Product"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Updates API Product Attribute",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">Updates the value of an API product attribute.</div>",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Specify Content Type as `application/json` or `text/xml`.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "get": {
                "tags": [
                    "API Product"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Get API Product Attribute",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">Returns the value of an API product attribute.</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "API Product"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Delete API Product Attribute",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">Deletes an API product attribute.</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/environments/{env_name}/keystores": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "env_name",
                    "in": "path",
                    "description": "env_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "tags": [
                    "Keystores and Truststores"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Create a Keystore or Truststore",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">\n\nCreate a keystore or truststore in an environment.\n\n*   **Keystore**: Contains the TLS certificate and private key used to identify the entity during TLS handshaking.\n*   **Truststore**: Contains trusted certificates on an TLS client used to validate an TLS server's certificate presented to the client. These certificates are typically self-signed certificates or certificates that are not signed by a trusted CA.\n\nTo configure functionality that relies on public key infrastructure (TLS and SAML, for example) you need to create keystores and truststores that provide the necessary keys and digital certificates. Keystores and truststores define repositories of security certificates used for TLS encryption.  \n\nThe APIs that you use to create a truststore are the same as used to create a keystore. The only difference is that you pass the cert file as a PEM file instead of a JAR file.  \n\nSee [KeyStores and TrustStores](/api-services/content/keystores-and-truststores)\n\n</div>",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Specify Content Type as either application/json or text/xml",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "RequestBody",
                        "in": "body",
                        "description": "RequestBody description",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [],
                            "properties": {
                                "name": {
                                    "description": "The keystore or truststore name.",
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "get": {
                "tags": [
                    "Keystores and Truststores"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "List Keystores and Truststores",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">\n\nReturns a list of all keystores and truststores in the environment.\n\nIn Edge, keystores and truststores are both represented by a **keystore** entity. That is, the contents of the keystore determine if it is used as an TLS keystore or truststore:\n\n*   **keystore** - a keystore entity that contains one or more aliases, where each alias **contains a cert/key pair**.\n*   **truststore** - a keystore entity that contains one or more aliases, where each alias **contains a cert only**.\n\n</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/apiproducts/{apiproduct_name}": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "apiproduct_name",
                    "in": "path",
                    "description": "apiproduct_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "delete": {
                "tags": [
                    "API Product"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    ""
                ],
                "produces": [
                    ""
                ],
                "summary": "Delete API Product",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">Deletes an API product from an organization.  \n\nDeleting an API product will cause app requests to the resource URIs defined in the API product to fail. Ensure that you create a new API product to serve existing apps, unless your intention is to disable access to the resources defined in the API product.  \n\nThe API product name required in the request URL is not the \"Display Name\" value displayed for the API product in the Edge UI. While they may be the same, they are not always the same depending on whether the API product was created via UI or API.  \n\nFor this reason, be sure to get the exact API product name by performing a GET request to the List API Products endpoint. Use the \"name\" value returned in the response as the API product name in the request URL.</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "get": {
                "tags": [
                    "API Product"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Get Keys, Apps, Developers, or Companies for an API Product",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">\n\n**DEPRECATED**: This API is being deprecated and will be removed in a future release. To get products and keys for an app, use the following API: [Get Developer App Details](/management/apis/get/organizations/%7Borg_name%7D/developers/%7Bdeveloper_email_or_id%7D/apps/%7Bapp_name%7D-0). \n\nGets a count or a list of any one of the following entities associated with an API product: keys, app IDs, developer IDs, or company IDs.\n\nThe name of the API product specified in the request URL is the name value for the API Product returned by a GET request to the \"List API Products\" endpoint. For example, if the Display Name of the API product in the Edge UI is 'Premium API Product', then the name in the URL is 'premium-api-product' (all lowercase with spaces replaced by hyphens).\n\n</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "put": {
                "tags": [
                    "API Product"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Update API Product",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">\n\nUpdates an existing API product. You must include all required values, whether or not you are updating them, as well as any optional values that you are updating.\n\nThe API product name required in the request URL is the internal name of the product, not the Display Name. \n\n<div class=\"microservices\">\n\n**CPS**: With [Core Persistence Services](/api-services/content/api-reference-getting-started#cps), the custom attribute limit is 18.\n\n</div>\n\n</div>",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Specify the content type as `application/json` or `text/xml`.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "RequestBody",
                        "in": "body",
                        "description": "RequestBody description",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [],
                            "properties": {
                                "approvalType": {
                                    "description": "`<span class=\"pln\" data-original-title=\"\" title=\"\">manual</span>` or `<span class=\"kwd\" data-original-title=\"\" title=\"\">auto</span>`. If `<span class=\"pln\" data-original-title=\"\" title=\"\">manual</span>`, consumer key is generated and returned in 'pending' state. If `<span class=\"kwd\" data-original-title=\"\" title=\"\">auto</span>` consumer key generated and returned in 'Approved' state.",
                                    "type": "string"
                                },
                                "displayName": {
                                    "description": "The name to be displayed in the UI or developer portal to developers registering for API access",
                                    "type": "string"
                                },
                                "attributes": {
                                    "description": "Arbitrary name/value pairs. Use this property to specify the access level of the API product as either `<span class=\"kwd\" data-original-title=\"\" title=\"\">public</span>`, `<span class=\"kwd\" data-original-title=\"\" title=\"\">private</span>`, or `<span class=\"kwd\" data-original-title=\"\" title=\"\">internal</span>`. Only products marked `<span class=\"kwd\" data-original-title=\"\" title=\"\">public</span>` are available to developers in the Apigee developer portal. For example, you can set a product to `<span class=\"kwd\" data-original-title=\"\" title=\"\">internal</span>` while it's in development and then change access to `<span class=\"kwd\" data-original-title=\"\" title=\"\">public</span>` when it's ready to release on the portal. API products marked as `<span class=\"kwd\" data-original-title=\"\" title=\"\">private</span>` do not appear on the portal but can be accessed by external developers. For example:  \n\n<pre class=\"prettyprint prettyprinted\"> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"attributes\"</span><span class=\"pun\" data-original-title=\"\" title=\"\">:</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"pun\" data-original-title=\"\" title=\"\">[</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"pun\" data-original-title=\"\" title=\"\">{</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"name\"</span><span class=\"pun\" data-original-title=\"\" title=\"\">:</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"access\"</span><span class=\"pun\" data-original-title=\"\" title=\"\">,</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"value\"</span><span class=\"pun\" data-original-title=\"\" title=\"\">:</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"public\"</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"pun\" data-original-title=\"\" title=\"\">}</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"pun\" data-original-title=\"\" title=\"\">]</span></pre>\n\nFor monetization, you can use the attributes field to [specify transaction success criteria](/docs/monetization/content/create-transaction-recording-policy#createtrpapi). For example:  \n\n<pre class=\"prettyprint prettyprinted\"> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"attributes\"</span><span class=\"pun\" data-original-title=\"\" title=\"\">:</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"pun\" data-original-title=\"\" title=\"\">[</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"pun\" data-original-title=\"\" title=\"\">{</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"name\"</span><span class=\"pun\" data-original-title=\"\" title=\"\">:</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"MINT_TRANSACTION_SUCCESS_CRITERIA\"</span><span class=\"pun\" data-original-title=\"\" title=\"\">,</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"value\"</span><span class=\"pun\" data-original-title=\"\" title=\"\">:</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"txProviderStatus == 'OK'\"</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"pun\" data-original-title=\"\" title=\"\">}</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"pun\" data-original-title=\"\" title=\"\">]</span></pre>\n\nIn addition, for monetization you can use the attributes field to [specify custom attributes](/docs/monetization/content/create-transaction-recording-policy#spectrpcaapi) on which you base rate plan charges. For example:  \n\n<pre class=\"prettyprint prettyprinted\"> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"attributes\"</span><span class=\"pun\" data-original-title=\"\" title=\"\">:</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"pun\" data-original-title=\"\" title=\"\">[</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"pun\" data-original-title=\"\" title=\"\">{</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"name\"</span><span class=\"pun\" data-original-title=\"\" title=\"\">:</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"MINT_CUSTOM_ATTRIBUTE_1\"</span><span class=\"pun\" data-original-title=\"\" title=\"\">,</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"value\"</span><span class=\"pun\" data-original-title=\"\" title=\"\">:</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"str\" data-original-title=\"\" title=\"\">\"test1\"</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"pun\" data-original-title=\"\" title=\"\">}</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"pun\" data-original-title=\"\" title=\"\">]</span></pre>",
                                    "type": "string"
                                },
                                "description": {
                                    "description": "An overview of the API product. Include key information about the API product that is not captured by other fields.",
                                    "type": "string"
                                },
                                "apiResources": {
                                    "description": "A comma separated list of API resources to be bundled in the API Product. See [Creating API products](/docs/developer-services/content/creating-api-products) for more on setting this value.  \n\nFor information about setting this value when creating a transaction recording policy for monetization, see [Creating a transaction recording policy using the API](/docs/monetization/content/create-transaction-recording-policy#spectrpcaapi).",
                                    "type": "string"
                                },
                                "environments": {
                                    "description": "A comma-separated list of environment name in an organization. Requests to environments not listed are rejected.",
                                    "type": "string"
                                },
                                "proxies": {
                                    "description": "A comma-separated list of API proxy names in an organization. Requests to API proxies not listed are rejected. Api proxy names included here must already exist in the environment specified in the environment property because API Services validates proxy names when you create an API product.",
                                    "type": "string"
                                },
                                "quota": {
                                    "description": "The number of request messages permitted by this API product for the specified quotaInterval and quotaTimeUnit. For example, a quota of 50, for a quotaInterval of 12 and a quotaTimeUnit of hours means 50 requests are allowed every 12 hours.",
                                    "type": "string"
                                },
                                "quotaInterval": {
                                    "description": "The time interval over which the number of request messages is calculated.",
                                    "type": "string"
                                },
                                "quotaTimeUnit": {
                                    "description": "The time unit defined for the quotaInterval, as either: minute, hour, day, month.",
                                    "type": "string"
                                },
                                "scopes": {
                                    "description": "A comma separated list of scopes. These must map to the scopes defined in an Oauth policy associated with the API Product. Any scope mismatch between an Acces Token presented and the API Product results in auth failure.",
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/apis/{api_name}/maskconfigs": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "api_name",
                    "in": "path",
                    "description": "api_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "tags": [
                    "Data Mask"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "List Data Masks for an API Proxy",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">List all data masks for an API proxy.</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "post": {
                "tags": [
                    "Data Mask"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Create Data Masks for an API Proxy",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">Create a data mask for an API proxy.  \n\nYou can capture message content to assist in runtime debugging of APIs calls. In many cases, API traffic contains sensitive data, such credit cards or personally identifiable health information (PHI) that needs to filtered out of the captured message content.  \n\nData masks enable you to specify data that will be filtered out of trace sessions. Data masking is only enabled when a trace session (also called a 'debug' session) is enabled for an API proxy. If no trace session are enabled on an API proxy, then the data will not be masked.  \n\nMask configurations enable you to identify sensitive data in these sources:\n\n*   **XML payloads:** Using XPath, you identify XML elements to be filtered from request or response message payloads.\n*   **JSON payloads:** Using JSONPath, you identify JSON properties to be filtered from request or response message payloads.\n*   **Flow variables:** You can specify a list of variables that should be masked in debug output.\n\nThe basic structure of a mask configuration is shown by the following XML representation:  \n\nNote that the name of the mask must be \"default\".  \n\n<pre class=\"prettyprint prettyprinted\"><span class=\"tag\" data-original-title=\"\" title=\"\"><MaskDataConfiguration</span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"atn\" data-original-title=\"\" title=\"\">name</span><span class=\"pun\" data-original-title=\"\" title=\"\">=</span><span class=\"atv\" data-original-title=\"\" title=\"\">\"default\"</span><span class=\"tag\" data-original-title=\"\" title=\"\">></span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"tag\" data-original-title=\"\" title=\"\"><XPathsRequest></span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"tag\" data-original-title=\"\" title=\"\"><XPathRequest></span><span class=\"pln\" data-original-title=\"\" title=\"\">/apigee:Greeting/apigee:User</span><span class=\"tag\" data-original-title=\"\" title=\"\"></XPathRequest></span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"tag\" data-original-title=\"\" title=\"\"></XPathsRequest></span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"tag\" data-original-title=\"\" title=\"\"><XPathsResponse></span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"tag\" data-original-title=\"\" title=\"\"><XPathResponse></span><span class=\"pln\" data-original-title=\"\" title=\"\">/apigee:Greeting/apigee:User</span><span class=\"tag\" data-original-title=\"\" title=\"\"></XPathResponse></span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"tag\" data-original-title=\"\" title=\"\"></XPathsResponse></span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"tag\" data-original-title=\"\" title=\"\"><JSONPathsRequest></span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"tag\" data-original-title=\"\" title=\"\"><JSONPathRequest></span><span class=\"pln\" data-original-title=\"\" title=\"\">$.store.book[*].author</span><span class=\"tag\" data-original-title=\"\" title=\"\"></JSONPathRequest></span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"tag\" data-original-title=\"\" title=\"\"></JSONPathsRequest></span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"tag\" data-original-title=\"\" title=\"\"><JSONPathsResponse></span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"tag\" data-original-title=\"\" title=\"\"><JSONPathResponse></span><span class=\"pln\" data-original-title=\"\" title=\"\">$.store.book[*].author</span><span class=\"tag\" data-original-title=\"\" title=\"\"></JSONPathResponse></span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"tag\" data-original-title=\"\" title=\"\"></JSONPathsResponse></span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"tag\" data-original-title=\"\" title=\"\"><XPathsFault></span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"tag\" data-original-title=\"\" title=\"\"><XPathFault></span><span class=\"pln\" data-original-title=\"\" title=\"\">/apigee:Greeting/apigee:User</span><span class=\"tag\" data-original-title=\"\" title=\"\"></XPathFault></span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"tag\" data-original-title=\"\" title=\"\"></XPathsFault></span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"tag\" data-original-title=\"\" title=\"\"><JSONPathsFault></span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"tag\" data-original-title=\"\" title=\"\"><JSONPathFault></span><span class=\"pln\" data-original-title=\"\" title=\"\">$.store.book[*].author</span><span class=\"tag\" data-original-title=\"\" title=\"\"></JSONPathFault></span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"tag\" data-original-title=\"\" title=\"\"></JSONPathsFault></span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"tag\" data-original-title=\"\" title=\"\"><Variables></span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"tag\" data-original-title=\"\" title=\"\"><Variable></span><span class=\"pln\" data-original-title=\"\" title=\"\">request.header.user-agent</span><span class=\"tag\" data-original-title=\"\" title=\"\"></Variable></span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"tag\" data-original-title=\"\" title=\"\"><Variable></span><span class=\"pln\" data-original-title=\"\" title=\"\">request.formparam.password</span><span class=\"tag\" data-original-title=\"\" title=\"\"></Variable></span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"tag\" data-original-title=\"\" title=\"\"></Variables></span> <span class=\"pln\" data-original-title=\"\" title=\"\"></span> <span class=\"tag\" data-original-title=\"\" title=\"\"></MaskDataConfiguration></span></pre>\n\n</div>",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Specify the Content-Type as `<span class=\"pln\" data-original-title=\"\" title=\"\">application</span><span class=\"pun\" data-original-title=\"\" title=\"\">/</span><span class=\"pln\" data-original-title=\"\" title=\"\">json</span>` or `<span class=\"pln\" data-original-title=\"\" title=\"\">text</span><span class=\"pun\" data-original-title=\"\" title=\"\">/</span><span class=\"pln\" data-original-title=\"\" title=\"\">xml</span>`.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "RequestBody",
                        "in": "body",
                        "description": "RequestBody description",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [],
                            "properties": {
                                "XPathsRequest": {
                                    "description": "A list of XPath expressions that will be evaluated against XML payloads (if any) in the request path. Any XPaths that successfully resolve will result in the value of the XML element being masked.",
                                    "type": "string"
                                },
                                "XPathsResponse": {
                                    "description": "A list of XPath expressions that will be evaluated against XML payloads (if any) in the response path. Any XPaths that successfully resolve will result in the value of the XML element being masked.",
                                    "type": "string"
                                },
                                "JSONPathsRequest": {
                                    "description": "A list of JSONPath expressions that will be evaluated against JSON payloads (if any) in the request path. Any JSONPaths that successfully resolve will result in the value of the JSON property being masked.",
                                    "type": "string"
                                },
                                "JSONPathsResponse": {
                                    "description": "A list of JSONPath expressions that will be evaluated against JSON payloads (if any) in the response path. Any JSONPaths that successfully resolve will result in the value of the JSON property being masked.",
                                    "type": "string"
                                },
                                "XPathsFault": {
                                    "description": "A list of XPath expressions that will be evaluated against XML payloads (if any) in the error flow (which executes if a fault is thrown at any point in the flow). Any XPaths that successfully resolve will result in the value of the XML element being masked.",
                                    "type": "string"
                                },
                                "JSONPathsFault": {
                                    "description": "A list of JSON expressions that will be evaluated against XML payloads (if any) in the error flow (which executes if a fault is thrown at any point in the flow). Any JSONPaths that successfully resolve will result in the value of the XML element being masked.",
                                    "type": "string"
                                },
                                "Variables": {
                                    "description": "A list of variables (either pre-defined or custom) who values will be masked.",
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/o/{org_name}/e/{env_name}/apis/{api_name}/cachedlogs/categories": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "env_name",
                    "in": "path",
                    "description": "env_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "api_name",
                    "in": "path",
                    "description": "api_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "tags": [
                    "Cached Logs"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Get Cached Log Categories",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">Retrieves the names of the available cached log categories. Currently, \"nodejs\" is the only category supported.</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/oauth2/search": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "tags": [
                    "OAuth 2.0 Access Token"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "summary": "Get OAuth2 Access Token by End User or App ID",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">\n\nRetrieves an OAuth2 access token by App End User ID or Developer App ID, or both. \n\n<div class=\"paid\">\n\nThis API call is available for Apigee Edge Enterprise plans only. For information on enabling this feature, see [Enable retrieval and revocation of OAuth 2.0 access tokens by end user ID, app id, or both](/api-reference/content/enable-retrieval-and-revocation-oauth-20-access-tokens-end-user-id-app-id-or-both).\n\n</div>\n\n<div class=\"note\">\n\nThis API requires the **orgadmin** or **opsadmin** role.\n\n</div>\n\n### Search by Developer App ID\n\nNote that all OAuth2 access tokens generated by Edge include the ID of the developer app associated with the token, and you can always search for tokens based on that ID using this API. To get a list of Developer App IDs for a specific developer, you can use this API: [List Developer Apps](/management/apis/get/organizations/%7Borg_name%7D/developers/%7Bdeveloper_email_or_id%7D/apps).\n\n### Search by App End User ID\n\nIn some cases, you may wish to search for tokens based on the ID of the user to whom the token was issued (the actual user of the client app). This ID has to be available as a flow variable when the token is generated by the OAuthV2 policy. You can pass this ID as a query parameter or in a header with the access token request, or you can retrieve it from an external identity provider, as may be the case with the password grant type. \n\nFor example, you may wish to provide a way for users to discover which third-party apps they've authorized and to revoke their own access tokens for those apps. To search for tokens by user, you must first configure the OAuthV2 policy to insert a user ID into the token when it is created. This setup is described in [Enable retrieval and revocation of OAuth 2.0 access tokens by end user ID, app id, or both](/api-reference/content/enable-retrieval-and-revocation-oauth-20-access-tokens-end-user-id-app-id-or-both).\n\n</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/maskconfigs/{maskconfig_name}": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "maskconfig_name",
                    "in": "path",
                    "description": "maskconfig_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "tags": [
                    "Data Mask"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Get Data Mask Details for an Organization",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">Get the details for a data mask for an organization.</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Data Mask"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    ""
                ],
                "produces": [
                    ""
                ],
                "summary": "Delete Data Masks for an Organization",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">Delete a data mask for an organization.</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/resourcefiles/{resource_type}/{resource_name}": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "resource_type",
                    "in": "path",
                    "description": "resource_type",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "resource_name",
                    "in": "path",
                    "description": "resource_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "put": {
                "tags": [
                    "null"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/octet-stream"
                ],
                "produces": [
                    "application/octet-stream"
                ],
                "summary": "Update a resource file in an organization",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">\n\nUpdates a resource file in an organization.\n\nPaste the contents of the file in the request body.\n\nYou can also PUT a file to this API by using a cURL command in the form:  \n\n<pre>curl -H \"Content-type: multipart/form-data\" -F file=@{filename_with_extension}   -X PUT https://api.enterprise.apigee.com/v1/o/{org}/resourcefiles/{resource_type}/{resource_name}   -u email\n</pre>\n\nFor more information on resource files, see [Resource files](/docs/api-services/content/resource-files).\n\n</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Resource File"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    ""
                ],
                "produces": [
                    ""
                ],
                "summary": "Delete a resource file from an organization",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">Deletes a resource file from an organization.</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "get": {
                "tags": [
                    "Resource File"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    ""
                ],
                "produces": [
                    ""
                ],
                "summary": "Get a resource file for an organization",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">Gets the content of an organization-scoped resource file.</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/apis/{api_name}/revisions/{revision_number}/resourcefiles/{resource_type}/{resource_name}": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "api_name",
                    "in": "path",
                    "description": "api_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "revision_number",
                    "in": "path",
                    "description": "revision_number",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "resource_type",
                    "in": "path",
                    "description": "resource_type",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "resource_name",
                    "in": "path",
                    "description": "resource_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "tags": [
                    "Resource File"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    ""
                ],
                "produces": [
                    ""
                ],
                "summary": "Get a resource file from an API",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">Gets the content of an API proxy-scoped resource file.</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "put": {
                "tags": [
                    "null"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/octet-stream"
                ],
                "produces": [
                    "application/octet-stream"
                ],
                "summary": "Update a resource file in an API",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">\n\nUpdates a resource file in an API proxy.\n\nPaste the contents of the file in the request body.\n\nYou can also PUT a file to this API by using a cURL command in the form:  \n\n<pre>curl -H \"Content-type: multipart/form-data\" -F file=@{filename_with_extension}   -X PUT https://api.enterprise.apigee.com/v1/o/{org}/apis/{api_name}/revisions/{revision_number}/resourcefiles/{resource_type}/{resource_name}   -u email\n</pre>\n\nFor more information on resource files, see [Resource files](/docs/api-services/content/resource-files).\n\n</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Resource File"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    ""
                ],
                "produces": [
                    ""
                ],
                "summary": "Delete a resource file from an API",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">Deletes a resource file from an API.</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/environments/{env_name}/resourcefiles/{resource_type}/{resource_name}": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "env_name",
                    "in": "path",
                    "description": "env_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "resource_type",
                    "in": "path",
                    "description": "resource_type",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "resource_name",
                    "in": "path",
                    "description": "resource_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "delete": {
                "tags": [
                    "Resource File"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    ""
                ],
                "produces": [
                    ""
                ],
                "summary": "Delete a resource file from an environment",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">Deletes a resource file from an environment.</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "get": {
                "tags": [
                    "Resource File"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    ""
                ],
                "produces": [
                    ""
                ],
                "summary": "Get a resource file from an environment",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">Gets the content of an environment-scoped resource file.</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "put": {
                "tags": [
                    "Resource File"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "summary": "Update a resource file in an environment (file upload)",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">\n\nUpdates a resource file in an environment through file upload. This is an alternative to updating a resource file by passing the file contents in the request body, as described in [Update a resource file in an environment](/docs/management/apis/put/organizations/%7Borg_name%7D/environments/%7Benv_name%7D/resourcefiles/%7Bresource_type%7D/%7Bresource_name%7D).\n\n</div>",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Use `multipart/form-data`.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/resourcefiles": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "tags": [
                    "Resource File"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    ""
                ],
                "produces": [
                    ""
                ],
                "summary": "List resource files in an organization",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">Lists the resource files in an organization.</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "post": {
                "tags": [
                    "Resource File"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "summary": "Import a resource file to an organizaion (file upload)",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">\n\nImports a resource file into an organization through file upload. This is an alternative to importing a resource file by passing the file contents in the request body, as described in [Import a resource file for an organization](/docs/management/apis/post/organizations/%7Borg_name%7D/resourcefiles).\n\n</div>",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "The name of the resource, including the file type extension.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/userroles": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "tags": [
                    "Roles at Organization Level"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Create Roles in an Organization",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">\n\nCreates one ore more user roles in an organization.\n\nAfter you create the role, you can use the following APIs to add permissions to the role:\n\n*   [Add Multiple Resource Permissions for Resource](http://apigee.com/docs/management/apis/post/organizations/%7Borg_name%7D/userroles/%7Brole_name%7D/resourcepermissions)\n*   [Add Permissions for Resource to a Role](http://apigee.com/docs/management/apis/post/organizations/%7Borg_name%7D/userroles/%7Brole_name%7D/permissions)\n\n</div>",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Specify the content type as `application/json`.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "get": {
                "tags": [
                    "Roles at Organization Level"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "summary": "List Roles of Organization",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">Gets a list of roles available to users in an organization.</div>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/apis/{api_name}/keyvaluemaps/{map_name}/entries": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "api_name",
                    "in": "path",
                    "description": "api_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "map_name",
                    "in": "path",
                    "description": "map_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "tags": [
                    "KeyValueMaps"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " application/xml"
                ],
                "produces": [
                    "application/json",
                    " application/xml"
                ],
                "summary": "Create an entry in an API proxy KeyValueMap (CPS)",
                "description": "<div class=\"resource_description\" data-allow-edit=\"true\" data-role=\"method-description\">\n\nCreates an entry in an existing KeyValueMap scoped to an API proxy. A key/entry-name cannot be larger than 2 KB.\n\n<div class=\"microservices\">\n\n**CPS** This API can only be used in organizations with [Core Persistence Services](/docs/api-services/content/api-reference-getting-started#cps) enabled.\n\n</div>\n\n</div>",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "`application/json` or `application/xml`",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/companies/{company_name}": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "company_name",
                    "in": "path",
                    "description": "company_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "put": {
                "tags": [
                    "Company"
                ],
[...]
