{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "Apigee Management API",
        "license": {
            "name": "MIT"
        }
    },
    "host": "api.enterprise.apigee.com",
    "basePath": "/v1",
    "schemes": [
        "https"
    ],
    "securityDefinitions": {
        "basicAuth": {
            "type": "basic",
            "description": "HTTP Basic Authentication."
        }
    },
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/organizations/{org_name}/apiproducts": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "tags": [
                    "API Product"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Search API Products",
                "description": "Returns a list of API products filtered by attribute names and values.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "post": {
                "tags": [
                    "API Product"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Create API Product",
                "description": "Creates an API product in an organization. You create API products after you have proxied backend services using API proxies. An API product is a collection of API resources combined with quota settings and metadata that you can use to deliver customized and productized API bundles to your developer community. This metadata may include scope, environments, API proxies, and an extensible profile. API products enable you repackage APIs on-the-fly, without having to do any additional coding or configuration. We recommend that you start with a simple API product including only required elements. You then provision credentials to apps to enable them to start testing your APIs. Once you have authentication and authorization working against a simple API product, you can iterate to create finer-grained API products, defining different sets of API resources for each API product. If you don't specify an API proxy in the request body, any app associated with the product can make calls to any API in your entire organization. If you don't specify an environment in the request body, the product allows access to all environments. For information about the request attributes that you can specify with this API, see [Creating API products](/developer-services/content/creating-api-products). See also [What is an API product?](/developer-services/content/what-api-product) **CPS**: With [Core Persistence Services](/api-services/content/api-reference-getting-started#cps), the custom attribute limit is 18.",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Specify the content type as `application/json` or `text/xml`.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "RequestBody",
                        "in": "body",
                        "description": "RequestBody description",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "name",
                                "displayName",
                                "approvalType"
                            ],
                            "properties": {
                                "name": {
                                    "description": "The internal name of the API Product. Characters you can use in the name are restricted to: `A-Z0-9._\\-$ %`.",
                                    "type": "string"
                                },
                                "displayName": {
                                    "description": "The name to be displayed in the UI or developer portal to developers registering for API access",
                                    "type": "string"
                                },
                                "approvalType": {
                                    "description": "`manual` or `auto`. If `manual`, consumer key is generated and returned in 'pending' state. If `auto` consumer key generated and returned in 'Approved' state.",
                                    "type": "string"
                                },
                                "attributes": {
                                    "description": "Arbitrary name/value pairs. Use this property to specify the access level of the API product as either `public`, `private`, or `internal`. Only products marked `public` are available to developers in the Apigee developer portal. For example, you can set a product to `internal` while it's in development and then change access to `public` when it's ready to release on the portal. API products marked as `private` do not appear on the portal but can be accessed by external developers. For example:\n\n<pre class=\"prettyprint prettyprinted\">  \"attributes\":  [  {  \"name\":  \"access\",  \"value\":  \"public\"  }  ]</pre>\n\nFor monetization, you can use the attributes field to [specify transaction success criteria](/docs/monetization/content/create-transaction-recording-policy#createtrpapi). For example:\n\n<pre class=\"prettyprint prettyprinted\">  \"attributes\":  [  {  \"name\":  \"MINT_TRANSACTION_SUCCESS_CRITERIA\",  \"value\":  \"txProviderStatus == 'OK'\"  }  ]</pre>\n\nIn addition, for monetization you can use the attributes field to [specify custom attributes](/docs/monetization/content/create-transaction-recording-policy#spectrpcaapi) on which you base rate plan charges. For example:\n\n<pre class=\"prettyprint prettyprinted\">  \"attributes\":  [  {  \"name\":  \"MINT_CUSTOM_ATTRIBUTE_1\",  \"value\":  \"test1\"  }  ]</pre>",
                                    "type": "string"
                                },
                                "description": {
                                    "description": "An overview of the API product. Include key information about the API product that is not captured by other fields.",
                                    "type": "string"
                                },
                                "apiResources": {
                                    "description": "A comma separated list of API resources to be bundled in the API Product. See [Creating API products](/docs/developer-services/content/creating-api-products) for more on setting this value.\n\nFor information about setting this value when creating a transaction recording policy for monetization, see [Creating a transaction recording policy using the API](/docs/monetization/content/create-transaction-recording-policy#spectrpcaapi).",
                                    "type": "string"
                                },
                                "environments": {
                                    "description": "A comma-separated list of environment name in an organization. Requests to environments not listed are rejected.",
                                    "type": "string"
                                },
                                "proxies": {
                                    "description": "A comma-separated list of API proxy names in an organization. Requests to API proxies not listed are rejected. Api proxy names included here must already exist in the environment specified in the environment property because API Services validates proxy names when you create an API product.",
                                    "type": "string"
                                },
                                "quota": {
                                    "description": "The number of request messages permitted by this API product for the specified quotaInterval and quotaTimeUnit. For example, a quota of 50, for a quotaInterval of 12 and a quotaTimeUnit of hours means 50 requests are allowed every 12 hours.",
                                    "type": "string"
                                },
                                "quotaInterval": {
                                    "description": "The time interval over which the number of request messages is calculated.",
                                    "type": "string"
                                },
                                "quotaTimeUnit": {
                                    "description": "The time unit defined for the quotaInterval, as either: minute, hour, day, month.",
                                    "type": "string"
                                },
                                "scopes": {
                                    "description": "A comma separated list of scopes. These must map to the scopes defined in an Oauth policy associated with the API Product. Any scope mismatch between an Acces Token presented and the API Product results in auth failure.",
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/apis/{api_name}/maskconfigs/{maskconfig_name}": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "api_name",
                    "in": "path",
                    "description": "api_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "maskconfig_name",
                    "in": "path",
                    "description": "maskconfig_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "delete": {
                "tags": [
                    "Data Mask"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    ""
                ],
                "produces": [
                    ""
                ],
                "summary": "Delete Data Masks for an API Proxy",
                "description": "Delete a data mask for an API proxy.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "get": {
                "tags": [
                    "Data Mask"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Get Data Mask Details for an API Proxy",
                "description": "Get the details for a data mask for an API proxy.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/maskconfigs/{maskconfig_name}": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "maskconfig_name",
                    "in": "path",
                    "description": "maskconfig_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "tags": [
                    "Data Mask"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Get Data Mask Details for an Organization",
                "description": "Get the details for a data mask for an organization.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Data Mask"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    ""
                ],
                "produces": [
                    ""
                ],
                "summary": "Delete Data Masks for an Organization",
                "description": "Delete a data mask for an organization.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/apiproducts/{apiproduct_name}": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "apiproduct_name",
                    "in": "path",
                    "description": "apiproduct_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "tags": [
                    "API Product"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Get API Product",
                "description": "Gets configuration data for an API product. The API product name required in the request URL is not the \"Display Name\" value displayed for the API product in the Edge UI. While they may be the same, they are not always the same depending on whether the API product was created via UI or API. For this reason, be sure to get the exact API product name by performing a GET request to the List API Products endpoint. Use the \"name\" value returned in the response as the API product name in the request URL.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "put": {
                "tags": [
                    "API Product"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Update API Product",
                "description": "Updates an existing API product. You must include all required values, whether or not you are updating them, as well as any optional values that you are updating. The API product name required in the request URL is the internal name of the product, not the Display Name.  **CPS**: With [Core Persistence Services](/api-services/content/api-reference-getting-started#cps), the custom attribute limit is 18.",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Specify the content type as `application/json` or `text/xml`.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "RequestBody",
                        "in": "body",
                        "description": "RequestBody description",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "approvalType",
                                "displayName"
                            ],
                            "properties": {
                                "approvalType": {
                                    "description": "`manual` or `auto`. If `manual`, consumer key is generated and returned in 'pending' state. If `auto` consumer key generated and returned in 'Approved' state.",
                                    "type": "string"
                                },
                                "displayName": {
                                    "description": "The name to be displayed in the UI or developer portal to developers registering for API access",
                                    "type": "string"
                                },
                                "attributes": {
                                    "description": "Arbitrary name/value pairs. Use this property to specify the access level of the API product as either `public`, `private`, or `internal`. Only products marked `public` are available to developers in the Apigee developer portal. For example, you can set a product to `internal` while it's in development and then change access to `public` when it's ready to release on the portal. API products marked as `private` do not appear on the portal but can be accessed by external developers. For example:\n\n<pre class=\"prettyprint prettyprinted\">  \"attributes\":  [  {  \"name\":  \"access\",  \"value\":  \"public\"  }  ]</pre>\n\nFor monetization, you can use the attributes field to [specify transaction success criteria](/docs/monetization/content/create-transaction-recording-policy#createtrpapi). For example:\n\n<pre class=\"prettyprint prettyprinted\">  \"attributes\":  [  {  \"name\":  \"MINT_TRANSACTION_SUCCESS_CRITERIA\",  \"value\":  \"txProviderStatus == 'OK'\"  }  ]</pre>\n\nIn addition, for monetization you can use the attributes field to [specify custom attributes](/docs/monetization/content/create-transaction-recording-policy#spectrpcaapi) on which you base rate plan charges. For example:\n\n<pre class=\"prettyprint prettyprinted\">  \"attributes\":  [  {  \"name\":  \"MINT_CUSTOM_ATTRIBUTE_1\",  \"value\":  \"test1\"  }  ]</pre>",
                                    "type": "string"
                                },
                                "description": {
                                    "description": "An overview of the API product. Include key information about the API product that is not captured by other fields.",
                                    "type": "string"
                                },
                                "apiResources": {
                                    "description": "A comma separated list of API resources to be bundled in the API Product. See [Creating API products](/docs/developer-services/content/creating-api-products) for more on setting this value.\n\nFor information about setting this value when creating a transaction recording policy for monetization, see [Creating a transaction recording policy using the API](/docs/monetization/content/create-transaction-recording-policy#spectrpcaapi).",
                                    "type": "string"
                                },
                                "environments": {
                                    "description": "A comma-separated list of environment name in an organization. Requests to environments not listed are rejected.",
                                    "type": "string"
                                },
                                "proxies": {
                                    "description": "A comma-separated list of API proxy names in an organization. Requests to API proxies not listed are rejected. Api proxy names included here must already exist in the environment specified in the environment property because API Services validates proxy names when you create an API product.",
                                    "type": "string"
                                },
                                "quota": {
                                    "description": "The number of request messages permitted by this API product for the specified quotaInterval and quotaTimeUnit. For example, a quota of 50, for a quotaInterval of 12 and a quotaTimeUnit of hours means 50 requests are allowed every 12 hours.",
                                    "type": "string"
                                },
                                "quotaInterval": {
                                    "description": "The time interval over which the number of request messages is calculated.",
                                    "type": "string"
                                },
                                "quotaTimeUnit": {
                                    "description": "The time unit defined for the quotaInterval, as either: minute, hour, day, month.",
                                    "type": "string"
                                },
                                "scopes": {
                                    "description": "A comma separated list of scopes. These must map to the scopes defined in an Oauth policy associated with the API Product. Any scope mismatch between an Acces Token presented and the API Product results in auth failure.",
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "API Product"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    ""
                ],
                "produces": [
                    ""
                ],
                "summary": "Delete API Product",
                "description": "Deletes an API product from an organization. Deleting an API product will cause app requests to the resource URIs defined in the API product to fail. Ensure that you create a new API product to serve existing apps, unless your intention is to disable access to the resources defined in the API product. The API product name required in the request URL is not the \"Display Name\" value displayed for the API product in the Edge UI. While they may be the same, they are not always the same depending on whether the API product was created via UI or API. For this reason, be sure to get the exact API product name by performing a GET request to the List API Products endpoint. Use the \"name\" value returned in the response as the API product name in the request URL.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/apis/{api_name}/maskconfigs": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "api_name",
                    "in": "path",
                    "description": "api_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "tags": [
                    "Data Mask"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Create Data Masks for an API Proxy",
                "description": "Create a data mask for an API proxy. You can capture message content to assist in runtime debugging of APIs calls. In many cases, API traffic contains sensitive data, such credit cards or personally identifiable health information (PHI) that needs to filtered out of the captured message content. Data masks enable you to specify data that will be filtered out of trace sessions. Data masking is only enabled when a trace session (also called a 'debug' session) is enabled for an API proxy. If no trace session are enabled on an API proxy, then the data will not be masked. Mask configurations enable you to identify sensitive data in these sources: * **XML payloads:** Using XPath, you identify XML elements to be filtered from request or response message payloads. * **JSON payloads:** Using JSONPath, you identify JSON properties to be filtered from request or response message payloads. * **Flow variables:** You can specify a list of variables that should be masked in debug output. The basic structure of a mask configuration is shown by the following XML representation: Note that the name of the mask must be \"default\".\n\n<pre class=\"prettyprint prettyprinted\">  name=\"default\">  <xpathsrequest></xpathsrequest>  <xpathrequest></xpathrequest>/apigee:Greeting/apigee:User    <xpathsresponse></xpathsresponse>  <xpathresponse></xpathresponse>/apigee:Greeting/apigee:User    <jsonpathsrequest></jsonpathsrequest>  <jsonpathrequest></jsonpathrequest>$.store.book[*].author    <jsonpathsresponse></jsonpathsresponse>  <jsonpathresponse></jsonpathresponse>$.store.book[*].author    <xpathsfault></xpathsfault>  <xpathfault></xpathfault>/apigee:Greeting/apigee:User    <jsonpathsfault></jsonpathsfault>  <jsonpathfault></jsonpathfault>$.store.book[*].author    <variables></variables>  <variable></variable>request.header.user-agent  <variable></variable>request.formparam.password    </pre>",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Specify the Content-Type as `application/json` or `text/xml`.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "RequestBody",
                        "in": "body",
                        "description": "RequestBody description",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": null,
                            "properties": {
                                "XPathsRequest": {
                                    "description": "A list of XPath expressions that will be evaluated against XML payloads (if any) in the request path. Any XPaths that successfully resolve will result in the value of the XML element being masked.",
                                    "type": "string"
                                },
                                "XPathsResponse": {
                                    "description": "A list of XPath expressions that will be evaluated against XML payloads (if any) in the response path. Any XPaths that successfully resolve will result in the value of the XML element being masked.",
                                    "type": "string"
                                },
                                "JSONPathsRequest": {
                                    "description": "A list of JSONPath expressions that will be evaluated against JSON payloads (if any) in the request path. Any JSONPaths that successfully resolve will result in the value of the JSON property being masked.",
                                    "type": "string"
                                },
                                "JSONPathsResponse": {
                                    "description": "A list of JSONPath expressions that will be evaluated against JSON payloads (if any) in the response path. Any JSONPaths that successfully resolve will result in the value of the JSON property being masked.",
                                    "type": "string"
                                },
                                "XPathsFault": {
                                    "description": "A list of XPath expressions that will be evaluated against XML payloads (if any) in the error flow (which executes if a fault is thrown at any point in the flow). Any XPaths that successfully resolve will result in the value of the XML element being masked.",
                                    "type": "string"
                                },
                                "JSONPathsFault": {
                                    "description": "A list of JSON expressions that will be evaluated against XML payloads (if any) in the error flow (which executes if a fault is thrown at any point in the flow). Any JSONPaths that successfully resolve will result in the value of the XML element being masked.",
                                    "type": "string"
                                },
                                "Variables": {
                                    "description": "A list of variables (either pre-defined or custom) who values will be masked.",
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "get": {
                "tags": [
                    "Data Mask"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "List Data Masks for an API Proxy",
                "description": "List all data masks for an API proxy.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/apiproducts/{apiproduct_name}/attributes": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "apiproduct_name",
                    "in": "path",
                    "description": "apiproduct_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "tags": [
                    "API Product"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Updates all API Product Attributes",
                "description": "Updates or creates API product attributes. This API replaces the current list of attributes with the attributes specified in the request body. This lets you update existing attributes, add new attributes, or delete existing attributes by omitting them from the request body. **CPS**: With [Core Persistence Services](/api-services/content/api-reference-getting-started#cps), the custom attribute limit is 18.",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Specify Content Type as `application/json` or `text/xml`.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "get": {
                "tags": [
                    "API Product"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Gets all API Product Attributes",
                "description": "Returns a list of all API product attributes.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/apiproducts/{apiproduct_name}/attributes/{attribute_name}": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "apiproduct_name",
                    "in": "path",
                    "description": "apiproduct_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "attribute_name",
                    "in": "path",
                    "description": "attribute_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "delete": {
                "tags": [
                    "API Product"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Delete API Product Attribute",
                "description": "Deletes an API product attribute.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "post": {
                "tags": [
                    "API Product"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Updates API Product Attribute",
                "description": "Updates the value of an API product attribute.",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Specify Content Type as `application/json` or `text/xml`.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "get": {
                "tags": [
                    "API Product"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Get API Product Attribute",
                "description": "Returns the value of an API product attribute.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/maskconfigs": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "tags": [
                    "Data Mask"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Create Data Masks for an Organization",
                "description": "Create a data masks for an organization. You can capture message content to assist in runtime debugging of APIs calls. In many cases, API traffic contains sensitive data, such credit cards or personally identifiable health information (PHI) that needs to filtered out of the captured message content. Data masks enable you to specify data that will be filtered out of trace sessions. Data masking is only enabled when a trace session (also called a 'debug' session) is enabled for an API proxy. If no trace session are enabled on an API proxy, then the data will not be masked. Mask configurations enable you to identify sensitive data in these sources: * **XML payloads:** Using XPath, you identify XML elements to be filtered from request or response message payloads. * **JSON payloads:** Using JSONPath, you identify JSON properties to be filtered from request or response message payloads. * **Flow variables:** You can specify a list of variables that should be masked in debug output. The basic structure of a mask configuration is shown by the following XML representation: Note that the name of the mask must be \"default\".\n\n<pre> <maskdataconfiguration name=\"default\"><xpathsrequest><xpathrequest>/apigee:Greeting/apigee:User</xpathrequest></xpathsrequest> \n  <xpathsresponse><xpathresponse>/apigee:Greeting/apigee:User</xpathresponse></xpathsresponse> \n  <jsonpathsrequest><jsonpathrequest>$.store.book[*].author</jsonpathrequest></jsonpathsrequest> \n  <jsonpathsresponse><jsonpathresponse>$.store.book[*].author</jsonpathresponse></jsonpathsresponse> \n  <xpathsfault><xpathfault>/apigee:Greeting/apigee:User</xpathfault></xpathsfault> \n  <jsonpathsfault><jsonpathfault>$.store.book[*].author</jsonpathfault></jsonpathsfault> \n  <variables><variable>request.header.user-agent</variable>\n    <variable>request.formparam.password</variable></variables></maskdataconfiguration> </pre>",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Specify the Content-Type as `application/json` or `text/xml`.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "RequestBody",
                        "in": "body",
                        "description": "RequestBody description",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": null,
                            "properties": {
                                "XPathsRequest": {
                                    "description": "A list of XPath expressions that will be evaluated against XML payloads (if any) in the request path. Any XPaths that successfully resolve will result in the value of the XML element being masked.",
                                    "type": "string"
                                },
                                "XPathsResponse": {
                                    "description": "A list of XPath expressions that will be evaluated against XML payloads (if any) in the response path. Any XPaths that successfully resolve will result in the value of the XML element being masked.",
                                    "type": "string"
                                },
                                "JSONPathsRequest": {
                                    "description": "A list of JSONPath expressions that will be evaluated against JSON payloads (if any) in the request path. Any JSONPaths that successfully resolve will result in the value of the JSON property being masked.",
                                    "type": "string"
                                },
                                "JSONPathsResponse": {
                                    "description": "A list of JSONPath expressions that will be evaluated against JSON payloads (if any) in the response path. Any JSONPaths that successfully resolve will result in the value of the JSON property being masked.",
                                    "type": "string"
                                },
                                "XPathsFault": {
                                    "description": "A list of XPath expressions that will be evaluated against XML payloads (if any) in the error flow (which executes if a fault is thrown at any point in the flow). Any XPaths that successfully resolve will result in the value of the XML element being masked.",
                                    "type": "string"
                                },
                                "JSONPathsFault": {
                                    "description": "A list of JSON expressions that will be evaluated against XML payloads (if any) in the error flow (which executes if a fault is thrown at any point in the flow). Any JSONPaths that successfully resolve will result in the value of the XML element being masked.",
                                    "type": "string"
                                },
                                "Variables": {
                                    "description": "A list of variables (either pre-defined or custom) who values will be masked.",
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "get": {
                "tags": [
                    "Data Mask"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "List Data Masks for an Organization",
                "description": "List all data masks for an organization.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/oauth2/revoke": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "tags": [
                    "OAuth 2.0 Access Token"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    ""
                ],
                "produces": [
                    ""
                ],
                "summary": "Revoke OAuth2 Access Token by End User or App ID",
                "description": "Revokes an OAuth2 access tokens associated with an App End User ID or Developer App ID, or both.  This API call is available for Apigee Edge Enterprise plans only. This feature must be enabled, as described in [Enable retrieval and revocation of OAuth 2.0 access tokens by end user ID, app id, or both](/api-reference/content/enable-retrieval-and-revocation-oauth-20-access-tokens-end-user-id-app-id-or-both).This API requires the **orgadmin** or **opsadmin** role.If you use this API to revoke an access token, the associated refresh token will be revoked also. ### Revoke by Developer App ID Note that all OAuth2 access tokens generated by Edge include the ID of the developer app associated with the token, and you can always revoke tokens based on that ID using this API. To get a list of Developer App IDs for a specific developer, you can use this API: [List Developer Apps](/management/apis/get/organizations/%7Borg_name%7D/developers/%7Bdeveloper_email_or_id%7D/apps). To find tokens based on Developer App ID, see [Get OAuth2 Access Token by End User or App ID](/management/apis/get/organizations/%7Borg_name%7D/oauth2/search).  ### Revoke by App End User ID In some cases, you may wish to revoke tokens associated with the ID of the user to whom they were issued (the actual user of the client app). This ID has to be present in the token. Adding an End User ID to an access token requires some preliminary setup in the OAuthV2 policy that generates the token. For details, see [Enable retrieval and revocation of OAuth 2.0 access tokens by end user ID, app id, or both](/api-reference/content/enable-retrieval-and-revocation-oauth-20-access-tokens-end-user-id-app-id-or-both). You can use another API to search for tokens based on End User ID. See [Get OAuth2 Access Token by End User or App ID](/management/apis/get/organizations/%7Borg_name%7D/oauth2/search).    For example, you may wish to provide a way for users to revoke their own access tokens.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/o/{org_name}/e/{env_name}/apis/{api_name}/cachedlogs/categories/nodejs": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "env_name",
                    "in": "path",
                    "description": "env_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "api_name",
                    "in": "path",
                    "description": "api_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "tags": [
                    "Cached Logs"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Get Cached Node.js Logs",
                "description": "Retrieve the most recent number of Node.js log records for the specified API. The exact number of log records retrieved may change depending on system configuration, but it will typically be 500 for each message processor or 1000 in most configurations. The response format is as follows: [TIMESTAMP CATEGORY SERVER] Record... * TIMESTAMP is the time at which the log record was generated. * CATEGORY denotes that the log is a node.js log and whether it went to stdout or stderr. * SERVER uniquely identifies the server within Apigee Edge where the log was generated. For example: [2014-10-09T00:58:17.619Z nodejs/stdout svr.701] Hello, World!",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/environments/{env_name}/keystores": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "env_name",
                    "in": "path",
                    "description": "env_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "tags": [
                    "Keystores and Truststores"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Create a Keystore or Truststore",
                "description": "Create a keystore or truststore in an environment. * **Keystore**: Contains the TLS certificate and private key used to identify the entity during TLS handshaking. * **Truststore**: Contains trusted certificates on an TLS client used to validate an TLS server's certificate presented to the client. These certificates are typically self-signed certificates or certificates that are not signed by a trusted CA. To configure functionality that relies on public key infrastructure (TLS and SAML, for example) you need to create keystores and truststores that provide the necessary keys and digital certificates. Keystores and truststores define repositories of security certificates used for TLS encryption. The APIs that you use to create a truststore are the same as used to create a keystore. The only difference is that you pass the cert file as a PEM file instead of a JAR file. See [KeyStores and TrustStores](/api-services/content/keystores-and-truststores)",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Specify Content Type as either application/json or text/xml",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "RequestBody",
                        "in": "body",
                        "description": "RequestBody description",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "name"
                            ],
                            "properties": {
                                "name": {
                                    "description": "The keystore or truststore name.",
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "get": {
                "tags": [
                    "Keystores and Truststores"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "List Keystores and Truststores",
                "description": "Returns a list of all keystores and truststores in the environment. In Edge, keystores and truststores are both represented by a **keystore** entity. That is, the contents of the keystore determine if it is used as an TLS keystore or truststore: * **keystore** - a keystore entity that contains one or more aliases, where each alias **contains a cert/key pair**. * **truststore** - a keystore entity that contains one or more aliases, where each alias **contains a cert only**.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/oauth2/accesstokens/{access_token}": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "access_token",
                    "in": "path",
                    "description": "access_token",
                    "required": true,
                    "type": "string"
                }
            ],
            "delete": {
                "tags": [
                    "OAuth 2.0 Access Token"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    ""
                ],
                "produces": [
                    ""
                ],
                "summary": "Delete OAuth 2.0 Access Token",
                "description": "Deletes a specific OAuth 2.0 access token.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "post": {
                "tags": [
                    "OAuth 2.0 Access Token"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Update OAuth 2.0 Access Token",
                "description": "Updates the OAuth 2.0 access token attributes. Only attributes specified in the request body are updated. Any other existing attributes are not affected. **CPS**: With [Core Persistence Services](/docs/api-services/content/api-reference-getting-started#cps), the attribute limit is 20.",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Specify the Content Type as `application/json` or `text/xml`.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "RequestBody",
                        "in": "body",
                        "description": "RequestBody description",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": null,
                            "properties": {
                                "attributes": {
                                    "description": "Name/value elements used to extend the default profile",
                                    "type": "string"
                                },
                                "scope": {
                                    "description": "A list of scopes associated with access token, validated at runtime against scopes defined in API product",
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "get": {
                "tags": [
                    "OAuth 2.0 Access Token"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Get OAuth 2.0 Access Token",
                "description": "Gets details of a specific OAuth 2.0 access token.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}/certs": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "env_name",
                    "in": "path",
                    "description": "env_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "keystore_name",
                    "in": "path",
                    "description": "keystore_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "tags": [
                    "Keystores and Truststores"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "summary": "Upload a Certificate to a Truststore",
                "description": "Uploads a certificate to a truststore in an environment. If the cert is part of a chain, then the truststore must contain all certs in the chain, either as individual PEM or DER files or as a single file. If you use a single file, then the certs must be in order where the first cert in the file is the certificate used for TLS followed by the chain of certs, in order, to the CA certificate. The final certificate is typically signed by the certificate issuer. For example, in the truststore, you upload a client certificate, client_cert_1, and the client certificate issuer's certificate, ca_cert. For more information, see [KeyStores and TrustStores](/api-services/content/keystores-and-truststores). This API validates the following: * That file size is no larger than 50KB. * That the certificate is of type PEM or DER. * That the certificate is not expired. To bypass this validation, set ignoreExpiryValidation=true.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "get": {
                "tags": [
                    "null"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " application/xml"
                ],
                "produces": [
                    "application/json",
                    " application/xml"
                ],
                "summary": "Get all certificates for a keystore or truststore",
                "description": "Get all the certificates for the specified keystore or truststore.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}/certs/{cert_name}": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "env_name",
                    "in": "path",
                    "description": "env_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "keystore_name",
                    "in": "path",
                    "description": "keystore_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "cert_name",
                    "in": "path",
                    "description": "cert_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "delete": {
                "tags": [
                    ""
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    ""
                ],
                "produces": [
                    ""
                ],
                "summary": "Delete Cert from a Keystore or Truststore",
                "description": "Removes a specific cert from a keystore or truststore. For cert_name, use the certificate alias if it has one.  Use [Get Cert Details from a Keystore or Truststore](/management/apis/get/organizations/%7Borg_name%7D/environments/%7Benv_name%7D/keystores/%7Bkeystore_name%7D/certs/%7Bcert_name%7D) to view the list of cert aliases in a keystore or truststore. If the cert is part of a cert chain, deleting it could cause TLS handshaking to fail.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "get": {
                "tags": [
                    "Keystores and Truststores"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Get Cert Details from a Keystore or Truststore",
                "description": "Returns a specific cert from a keystore or truststore. For `cert_name`, use the certificate alias if it has one.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/oauth2/search": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "tags": [
                    "OAuth 2.0 Access Token"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "summary": "Get OAuth2 Access Token by End User or App ID",
                "description": "Retrieves an OAuth2 access token by App End User ID or Developer App ID, or both.  This API call is available for Apigee Edge Enterprise plans only. For information on enabling this feature, see [Enable retrieval and revocation of OAuth 2.0 access tokens by end user ID, app id, or both](/api-reference/content/enable-retrieval-and-revocation-oauth-20-access-tokens-end-user-id-app-id-or-both).This API requires the **orgadmin** or **opsadmin** role. ### Search by Developer App ID Note that all OAuth2 access tokens generated by Edge include the ID of the developer app associated with the token, and you can always search for tokens based on that ID using this API. To get a list of Developer App IDs for a specific developer, you can use this API: [List Developer Apps](/management/apis/get/organizations/%7Borg_name%7D/developers/%7Bdeveloper_email_or_id%7D/apps). ### Search by App End User ID In some cases, you may wish to search for tokens based on the ID of the user to whom the token was issued (the actual user of the client app). This ID has to be available as a flow variable when the token is generated by the OAuthV2 policy. You can pass this ID as a query parameter or in a header with the access token request, or you can retrieve it from an external identity provider, as may be the case with the password grant type.  For example, you may wish to provide a way for users to discover which third-party apps they've authorized and to revoke their own access tokens for those apps. To search for tokens by user, you must first configure the OAuthV2 policy to insert a user ID into the token when it is created. This setup is described in [Enable retrieval and revocation of OAuth 2.0 access tokens by end user ID, app id, or both](/api-reference/content/enable-retrieval-and-revocation-oauth-20-access-tokens-end-user-id-app-id-or-both).",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}/keys": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "env_name",
                    "in": "path",
                    "description": "env_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "keystore_name",
                    "in": "path",
                    "description": "keystore_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "tags": [
                    "Keystores and Truststores"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "summary": "Upload a JAR file to a Keystore",
                "description": "After you've created a keystore in an environment, you can use this API to upload your JAR files that contain a cert and private key. For more information on keystores, see [Keystores and Truststores](/api-services/content/keystores-and-truststores). This API validates the following: * That file size is no larger than 50KB. * That the certificate is of type PEM or DER. * That the certificate is not expired. To bypass this validation, set ignoreExpiryValidation=true.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/apis/{api_name}/revisions/{revision_number}/resourcefiles/{resource_type}/{resource_name}": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "api_name",
                    "in": "path",
                    "description": "api_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "revision_number",
                    "in": "path",
                    "description": "revision_number",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "resource_type",
                    "in": "path",
                    "description": "resource_type",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "resource_name",
                    "in": "path",
                    "description": "resource_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "tags": [
                    "Resource File"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    ""
                ],
                "produces": [
                    ""
                ],
                "summary": "Get a resource file from an API",
                "description": "Gets the content of an API proxy-scoped resource file.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "put": {
                "tags": [
                    "Resource File"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "summary": "Update a resource file in an API (file upload)",
                "description": "Updates a resource file in an API proxy through file upload. This is an alternative to updating a resource file by passing the file contents in the request body, as described in [Update a resource file in an API](/docs/management/apis/put/organizations/%7Borg_name%7D/apis/%7Bapi_name%7D/revisions/%7Brevision_number%7D/resourcefiles/%7Bresource_type%7D/%7Bresource_name%7D).",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Use `multipart/form-data`.``",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Resource File"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    ""
                ],
                "produces": [
                    ""
                ],
                "summary": "Delete a resource file from an API",
                "description": "Deletes a resource file from an API.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/apis/{api_name}/revisions/{revision_number}/resourcefiles": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "api_name",
                    "in": "path",
                    "description": "api_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "revision_number",
                    "in": "path",
                    "description": "revision_number",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "tags": [
                    "Resource File"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "summary": "Import a resource file for an API (file upload)",
                "description": "Imports a resource file into an API proxy through file upload. This is an alternative to importing a resource file by passing the file contents in the request body, as described in [Import a resource file for an API](/docs/management/apis/post/organizations/%7Borg_name%7D/apis/%7Bapi_name%7D/revisions/%7Brevision_number%7D).",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "The name of the resource, including the file type extension.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "get": {
                "tags": [
                    "Resource File"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    ""
                ],
                "produces": [
                    ""
                ],
                "summary": "List resource files in an API",
                "description": "Lists the resource files in an API.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "env_name",
                    "in": "path",
                    "description": "env_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "keystore_name",
                    "in": "path",
                    "description": "keystore_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "tags": [
                    "Keystores and Truststores"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Get a Keystore or Truststore",
                "description": "Returns a specific keystore or truststore in the environment, including the list of keys and certs.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Keystores and Truststores"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    ""
                ],
                "produces": [
                    ""
                ],
                "summary": "Delete a Keystore or Truststore",
                "description": "Deletes a keystore or truststore in an environment.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/environments/{env_name}/keystores/{keystore_name}/certs/{cert_name}/export": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "env_name",
                    "in": "path",
                    "description": "env_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "keystore_name",
                    "in": "path",
                    "description": "keystore_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "cert_name",
                    "in": "path",
                    "description": "cert_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "tags": [
                    "Keystores and Truststores"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "text"
                ],
                "produces": [
                    "text"
                ],
                "summary": "Export a Cert from a Keystore or Truststore",
                "description": "Exports a cert. The cert if displayed in the form:\n\n<pre>-----BEGIN CERTIFICATE-----\nMIIDgTCCAuqgAwIBAgIJANjlQa0bGWn2MA0GCSqGSIb3DQEBCwUAMIGIMQswCQYD\nVQQGEwJVUzEWMBQGA1UECe563653657567ZXR0czEUMBIGA1UEBxMLTm9ydGhh\nbXB0b24xDDAKBgNVBAoTA1NNRzEMMAoGA1UECxMDRG9jMQwwCgYDVQQDEwNTTUcx\nITAfBgkqhkiG9w0BCQEWEnNnaWxzb25AYXBpZ2VlLmNvbTAeFw0xNDExMDYyMDAy\nNTNaFw0yNDExMDUyMDAyNTNaMIGIMQswCQYDVQQGEwJVUzEWMBQGA1UECBMNTWFz\nc2FjaHVzZXR0879870394753944353452345235Htc+9i/mrTSh/lbZFMmW0EYzTgSvnJ0DF+bWuaC\nyfaqd31HMbr7DVFJAji1CI8Ggmvu8gA0lnkCAwEAAaOB8DCB7TAdBgNVHQ4EFgQU\nHEXLx5XxwdLiX9+XYl9OGv19hPQwgb0GA1UdIwSBtTCBsoAUHEXLx5XxwdLiX9+X\nYl9OGv19hPShgY6cjhdfjhsdfjhlkjsdfMTA1NNRzEhMB8GCSqGSIb3DQEJARYSc2dpbHNvbkBh\ncGlnZWUuY29tggkA2OVBrRsZafYwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQsF\nAAOBgQAYHdIdgfCz3ed1aoDCepPKwrYC6MhmzNYH4rPy0QR3UwKGom7VM0ifWlCr\nuxtg7lPF/nA5du2oGjizrtsjFTJ/DE5uV3XdnLHcsdxrJ1AmfNgH8xBqkJGlNv8/\naPTO/HQqsxi6WSuog1sC1w3VMQS2seUKLOVgkKDmsmcHc3AbXg==\n-----END CERTIFICATE-----</pre>\n\nIf you copy the cert to a file, from \"-----BEGIN CERTIFICATE\" through \"END CERTIFICATE-----\", you can use the following command to obtain the public key:\n\n<pre>openssl x509 -pubkey -noout -in fNAME</pre>\n\nThis command displays the key in the form:\n\n<pre>-----BEGIN PUBLIC KEY-----\nMIGfMA0GCSqGSIb3DQEBAQUAA4GNsdfgsdfgQCs90FmfufNs1yIup5B2mdFFcKS\nacW71GeMNVaPBsgsdfgsdfgHjF2BcDT+6FO2FYLJfZXI0lcv5afDdKq+apalG4\niicdvimUe1z72L+sdfgsdfsdfgLJ9qp3fUcxuvsNUUkC\nOLUIjwaCa+sdfsdfsdADSWeQIDAQAB\n-----END PUBLIC KEY-----</pre>",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/o/{org_name}/e/{env_name}/apis/{api_name}/cachedlogs/categories": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "env_name",
                    "in": "path",
                    "description": "env_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "api_name",
                    "in": "path",
                    "description": "api_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "tags": [
                    "Cached Logs"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json",
                    " text/xml"
                ],
                "produces": [
                    "application/json",
                    " text/xml"
                ],
                "summary": "Get Cached Log Categories",
                "description": "Retrieves the names of the available cached log categories. Currently, \"nodejs\" is the only category supported.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/resourcefiles/{resource_type}/{resource_name}": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "resource_type",
                    "in": "path",
                    "description": "resource_type",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "resource_name",
                    "in": "path",
                    "description": "resource_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "put": {
                "tags": [
                    "null"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/octet-stream"
                ],
                "produces": [
                    "application/octet-stream"
                ],
                "summary": "Update a resource file in an organization",
                "description": "Updates a resource file in an organization. Paste the contents of the file in the request body. You can also PUT a file to this API by using a cURL command in the form:  \n\n<pre>curl -H \"Content-type: multipart/form-data\" -F file=@{filename_with_extension}   -X PUT https://api.enterprise.apigee.com/v1/o/{org}/resourcefiles/{resource_type}/{resource_name}   -u email\n</pre>\n\nFor more information on resource files, see [Resource files](/docs/api-services/content/resource-files).",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "get": {
                "tags": [
                    "Resource File"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    ""
                ],
                "produces": [
                    ""
                ],
                "summary": "Get a resource file for an organization",
                "description": "Gets the content of an organization-scoped resource file.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Resource File"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    ""
                ],
                "produces": [
                    ""
                ],
                "summary": "Delete a resource file from an organization",
                "description": "Deletes a resource file from an organization.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/environments/{env_name}/resourcefiles/{resource_type}/{resource_name}": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "env_name",
                    "in": "path",
                    "description": "env_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "resource_type",
                    "in": "path",
                    "description": "resource_type",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "resource_name",
                    "in": "path",
                    "description": "resource_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "delete": {
                "tags": [
                    "Resource File"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    ""
                ],
                "produces": [
                    ""
                ],
                "summary": "Delete a resource file from an environment",
                "description": "Deletes a resource file from an environment.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "get": {
                "tags": [
                    "Resource File"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    ""
                ],
                "produces": [
                    ""
                ],
                "summary": "Get a resource file from an environment",
                "description": "Gets the content of an environment-scoped resource file.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "put": {
                "tags": [
                    "Resource File"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "summary": "Update a resource file in an environment (file upload)",
                "description": "Updates a resource file in an environment through file upload. This is an alternative to updating a resource file by passing the file contents in the request body, as described in [Update a resource file in an environment](/docs/management/apis/put/organizations/%7Borg_name%7D/environments/%7Benv_name%7D/resourcefiles/%7Bresource_type%7D/%7Bresource_name%7D).",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Use `multipart/form-data`.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/userroles": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "tags": [
                    "Roles at Organization Level"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/x-www-form-urlencoded"
                ],
                "summary": "List Roles of Organization",
                "description": "Gets a list of roles available to users in an organization.",
                "parameters": [],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            },
            "post": {
                "tags": [
                    "Roles at Organization Level"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "Create Roles in an Organization",
                "description": "Creates one ore more user roles in an organization. After you create the role, you can use the following APIs to add permissions to the role: * [Add Multiple Resource Permissions for Resource](http://apigee.com/docs/management/apis/post/organizations/%7Borg_name%7D/userroles/%7Brole_name%7D/resourcepermissions) * [Add Permissions for Resource to a Role](http://apigee.com/docs/management/apis/post/organizations/%7Borg_name%7D/userroles/%7Brole_name%7D/permissions)",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "description": "Specify the content type as `application/json`.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success"
                    }
                }
            }
        },
        "/organizations/{org_name}/environments/{env_name}/resourcefiles": {
            "parameters": [
                {
                    "name": "org_name",
                    "in": "path",
                    "description": "org_name",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "env_name",
                    "in": "path",
                    "description": "env_name",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "tags": [
                    "Resource File"
                ],
                "security": [
                    {
                        "basicAuth": []
                    }
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "multipart/form-data"
                ],
                "summary": "Import a resource file for an environment (file upload)",
                "description": "Imports a resource file into an API proxy through file upload. This is an alternative to importing a resource file by passing the file contents in the request body, as described in [Import a resource file for an environment](/docs/management/apis/post/organizations/%7Borg_name%7D/environments/%7Benv_name%7D/resourcefiles).",
                "parameters": [
                    {
                        "name": "Content-Type",
                        "in": "header",
[...]
